
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
h3{
    font-size: 20px;
    margin-left: 20px;
}
.left{
    display: flex;
}
ul{
    margin-left: 50px;
}
li{
    display: inline;
    margin-right: 16px;
    font-size: 20px; 
}
.right a{
    margin-right: 30px;
}
.right a >svg{
    margin-left: 20px;
}
.inputs_search{
    width: 400px;
    display: flex;
    align-items: center;
    border: 1px solid black;
    border-radius: 16px;
}
.inputs_search > svg{
    margin-left: 50px;
}
.inputs_search > input{
    width: 300px;
    padding: 10px;
    border-radius: 16px;
    height: 30px;
    border: none;
    outline: none;
}